APP_NAME="Print Hutt"
APP_URL = http://localhost:3000

MONGO_URL=printhutt
TOKEN_SECRET=8e7d68f453c1b1d397286fcf1f8587b5637f4305562f00ff7c3

MAIL_HOST=sandbox.smtp.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS="admin@gmail.com"


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
