APP_NAME="Print Hutt"
APP_URL = http://localhost:3000/
NEXT_PUBLIC_API_URL=http://localhost:3000/api

NODE_ENV= "development"

MONGO_URL=

TOKEN_SECRET=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=false
SMTP_FROM="@gmail.com"
SHOP_OWNER_EMAIL="@gmail.com"

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

PHONEPE_MERCHANT_ID=
PHONEPE_SALT_KEY=14d-4873-9adf-43bc1545094f
PHONEPE_SALT_INDEX=1
SENTRY_AUTH_TOKEN=

SHIPROCKET_EMAIL=@gmail.com
SHIPROCKET_PASSWORD=

