APP_NAME="Print Hutt"
APP_URL = http://localhost:3000/
NEXT_PUBLIC_API_URL=http://localhost:3000/api

NODE_ENV= "development"

MONGO_URL=

TOKEN_SECRET=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=false
SMTP_FROM="@gmail.com"
SHOP_OWNER_EMAIL="@gmail.com"

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

PHONEPE_MERCHANT_ID=
PHONEPE_SALT_KEY=14d-4873-9adf-43bc1545094f
PHONEPE_SALT_INDEX=1
SENTRY_AUTH_TOKEN=

SHIPROCKET_EMAIL=@gmail.com
SHIPROCKET_PASSWORD=












APP_NAME="Print Hutt"
APP_URL =https://www.printhutt.com
NEXT_PUBLIC_API_URL=https://www.printhutt.com/api
NODE_ENV= "production"
MONGO_URL=mongodb+srv://mks957678:Df2TOIsWReVuFbxD@printhutt.6cxfq.mongodb.net/printhutt?retryWrites=true&w=majority&appName=printhutt

TOKEN_SECRET=929ba5b6796228e05c22f013272a8526a607609ba222b7088d7044bde4aacc05a83e0d362648854f13dbeecea78a49530bbc566f7e55d38fe2f7864767c0dc8e

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=shivankarora87@gmail.com
SMTP_PASS=ibbdqkkrggslnarc
SMTP_SECURE=false
SMTP_FROM="mks957678@gmail.com"
SHOP_OWNER_EMAIL="shivankarora05@gmail.com"

CLOUDINARY_CLOUD_NAME=dkprths9f
CLOUDINARY_API_KEY=135261817854141
CLOUDINARY_API_SECRET=YcvPuDYo9Tl1u3FgURjOIfoEhFY

PHONEPE_MERCHANT_ID=M22KWFCG5RAAI
PHONEPE_SALT_KEY=7c6e5db4-9c43-44cf-b795-55685f0805c8
PHONEPE_SALT_INDEX=1
SENTRY_AUTH_TOKEN=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

SHIPROCKET_EMAIL=shivankarora87@gmail.com
SHIPROCKET_PASSWORD=Shivank8800112625

TWO_FACTOR_API=c2080742-690f-11ef-8b60-0200cd936042