APP_NAME="Print Hutt"
APP_URL = http://localhost:3000
NODE_ENV= "development"

MONGO_URL=
TOKEN_SECRET=8e7d68f453c1b1d39728f06b06291e0dfe925afc8c3758b3b2a3786d1c212fcfd6fcf1f8587b5637f4305562f00ff7c3

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=dsfd
MAIL_PASSWORD=f7ca1c851b82ad
MAIL_FROM_ADDRESS="admin@gmail.com"


CLOUDINARY_CLOUD_NAME=dd
CLOUDINARY_API_KEY=da
CLOUDINARY_API_SECRET=jkl

